<%- include header %>
<form method="post">
	<h2>标题</h2>
	<input type="text" name="title"/>
	<h2> 正文</h2>
	<textarea class="postText" name="post" row="20" cols="100"> </textarea>
	<input type="submit" value="发表" />
</form>
<%- include footer %>