<%- include header %>
<form method="post">
	Username: <input type="text" name="name"/><br/>
	Passowrd:<input type="password" name="password"/><br/>
	Confirm Passowrd:<input type="password" name="password-repeat"/><br/>
	Email:<input type="text" name="email" /><br/>
	<input type="submit" value="Register" />
</form>
<%- include footer %>